{{template "base" .}}

{{define "title"}}Início{{end}}

{{define "main"}}
    <h2>Últimos Snippets</h2>
    {{if .Snippets}}
    <table>
        <tr>
            <th>Título</th>
            <th>Criado</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href='/snippet/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>Nada pra ver aqui... ainda!</p>
    {{end}}
{{end}}
